@media only screen and (max-width: 600px) {
body {
    
    background-image: url('new_imagee.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
}

#top-strip {
    background: linear-gradient(90deg, rgb(9, 121, 31) 0%, rgba(0,212,255,1) 100%);
    color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn 2s;
    flex-shrink: 0;
}

#time-date, #visitor-counter {
    margin: auto 0;
    font-size: 1.2em;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#time-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 2px 4px #000000;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
}


